bin\
obj\
.vs/GSMP/DesignTimeBuild/.dtbcache.v2
.vs/GSMP/v17/.suo
bin/Debug/net6.0/GSMP.deps.json
bin/Debug/net6.0/GSMP.dll
bin/Debug/net6.0/GSMP.pdb
bin/Debug/net6.0/ReLogic.dll
bin/Debug/net6.0/ReLogic.pdb
bin/Debug/net6.0/System.Reflection.MetadataLoadContext.dll
.vs/GSMP/DesignTimeBuild/.dtbcache.v2
.vs/GSMP/v17/.suo
bin/Debug/net6.0/GSMP.deps.json
bin/Debug/net6.0/GSMP.dll
bin/Debug/net6.0/GSMP.pdb
bin/Debug/net6.0/ReLogic.dll
bin/Debug/net6.0/ReLogic.pdb
bin/Debug/net6.0/TerrariaHooks.dll
bin/Debug/net6.0/tModLoader.dll
bin/Debug/net6.0/tModLoader.dll
.vs/GSMP/DesignTimeBuild/.dtbcache.v2
.vs/GSMP/v17/.suo
bin/Debug/net6.0/GSMP.deps.json
bin/Debug/net6.0/GSMP.dll
bin/Debug/net6.0/GSMP.pdb
bin/Debug/net6.0/ReLogic.dll
bin/Debug/net6.0/ReLogic.pdb
bin/Debug/net6.0/System.Reflection.MetadataLoadContext.xml
bin/Debug/net6.0/TerrariaHooks.dll
bin/Debug/net6.0/tModLoader.dll
bin/Debug/net6.0/tModLoader.pdb
bin/Debug/net6.0/tModLoader.xml
bin/Debug/net6.0/tModLoader.xml
.vs/GSMP/DesignTimeBuild/.dtbcache.v2
.vs/GSMP/v17/.suo
bin/Debug/net6.0/GSMP.deps.json
obj/Debug/net6.0/GSMP.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/GSMP.pdb
obj/Debug/net6.0/ref/GSMP.dll
*.dll
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/GSMP.AssemblyInfo.cs
obj/Debug/net6.0/GSMP.AssemblyInfoInputs.cache
obj/Debug/net6.0/GSMP.assets.cache
obj/Debug/net6.0/GSMP.csproj.AssemblyReference.cache
obj/Debug/net6.0/GSMP.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/GSMP.csproj.CopyComplete
obj/Debug/net6.0/GSMP.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/GSMP.csproj.FileListAbsolute.txt
obj/GSMP.csproj.nuget.dgspec.json
obj/GSMP.csproj.nuget.g.props
obj/GSMP.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
bin/Debug/net6.0/tModLoader.xml
bin/Debug/net6.0/tModLoader.pdb
bin/Debug/net6.0/tModLoader.dll
